body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-inline .custom-file {
  width: auto;
}

.custom-file .custom-file-label {
  text-overflow: ellipsis;
  justify-content: flex-start;
  overflow: hidden;
}
